.home-bg {
  background: linear-gradient(
    90deg,
    rgba(141, 167, 254, 1) 0%,
    rgba(106, 103, 253, 1) 100%
  );
}

.section-bg {
  background: #fafafd;
}

.about-bg {
  background-color: #efeefa;
}
